*
{
    font-family: 'Roboto Slab', serif;
    max-width:100%;
}
#outer-me
{
    /* border:2px solid red; */
    display:flex;
    height:100px;
    background-color: rgba(114, 103, 103, 0.2);

}

#inner-me
{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
    
}

#inner-me img
{
    width:260px;
    height:240px;
    /* border:2px solid green; */
    border-radius: 50%;
    
}

#navbar
{
    /* border:2px solid blue; */
    display:flex;
    list-style-type: none;
    height:50px;
    margin-left:950px;
    padding-top:38px;
    
    
}

#navbar a
{
    text-decoration:none;
    padding:50px;
    text-align:center;
    font-weight:bold;
    color:rgb(228, 38, 38);
}

#navbar a:hover
{
    color:rgb(3, 128, 245);
}

body
{
    background-image: url('../images/bg.png');

    background-repeat:no-repeat;
    background-size: cover;
}


.para
{
    text-align: center;
    margin-top:60px;
    letter-spacing: 5px;
    font-weight:bolder;
}

/* #hobbies
{
    border:2px solid black;
    display:flex;
    height:auto;
    width:auto;
    flex-direction: column;
    flex-wrap: wrap;

    /* position:relative; */
   
    /* justify-content: center; */
    /* letter-spacing:10px; 
}*/




#one
{
    /* border:2px solid blue; */
    width:100%;
    margin-top:100px;
    display:flex;    
    
}


#one-img
{
    width:388px;
    height:300px;
    /* border:10px solid yellow; */
        
}


#two
{   
    /* margin-left:74%; */
    /* border:2px solid red; */
    width:100%;
    display:flex;
    justify-content: flex-end;
    margin-top:100px;
}


#two-img
{
    margin-right: 113px;
    width:388px;
    height:300px;
    /* border:2px solid yellow; */
}


#three
{
    /* border:2px solid yellow; */
    display:flex;
    margin-top:100px;
}


#copyright
{
    /* border:2px solid red; */
    height:50px;
    width:100%;
    background-color: rgb(81 66 66);
    display:flex;
    justify-content: center;
    align-items: center;
}

#copyright-text
{
    font-weight: bold;
}

#copyright-text:hover
{
    color:rgb(43, 224, 7);
}