*
{
    font-family: 'Roboto Slab', serif;
}
#outer-me
{
    /* border:2px solid red; */
    display:flex;
    height:100px;
    background-color: rgb(211, 213, 235);

}

#inner-me
{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
}

#inner-me img
{
    width:260px;
    height:240px;
    /* border:2px solid green; */
    border-radius: 50%;
    
}

#navbar
{
    /* border:2px solid blue; */
    display:flex;
    list-style-type: none;
    height:50px;
    margin-left:1000px;
    padding-top:38px;
    
    
}

#navbar a
{
    text-decoration:none;
    padding:50px;
    text-align:center;
    font-weight:bold;
}

#navbar a:hover
{
    color:rgb(0, 255, 213);
}

body
{
    background-image: url('');
}